@page "/jt19056"

@using JT808.Protocol;
@using JT808.Protocol.Extensions;
@using JTTools.Configs;
@inject IJT808Config  Config
@using OneOf;

<Select DefaultValue=@wayType @bind-Value="@wayType" Style="width:100px" OnChange="@OnSelectWayType">
    <SelectOption Value="up">上行</SelectOption>
    <SelectOption Value="down">下行</SelectOption>
</Select>

<Button Type="primary" @onclick="Query">分析</Button>

@if (isOpen)
{
    <Alert Type="@AlertType.Error" Description="@ErrerMessage" Closable AfterClose="OnDismiss" />
}
<div class="right">
    <TextArea AllowClear="true" AutoSize="true" MinRows="10" MaxRows="30" @bind-Value="@HexData" />
    <pre>
         @Json
    </pre>
</div>

@code {
    private JT808CarDVRSerializer Serializer;

    private static string UpHexData = "55 7A C4 00 00 00 EB";

    private static string DownHexData = "55 7A C4 00 14 00 20 03 25 10 26 01 20 03 25 10 26 01 00 00 12 34 00 12 34 56 A9";

    private string HexData = UpHexData;

    string wayType = "up";

    private void OnSelectWayType(OneOf<string, IEnumerable<string>, LabeledValue, IEnumerable<LabeledValue>> value,
        OneOf<SelectOption, IEnumerable<SelectOption>> option)
    {
        wayType = value.Value.ToString();
        switch (wayType)
        {
            case "up":
                HexData = UpHexData;
                Json = "";
                break;
            case "down":
                HexData = DownHexData;
                Json = "";
                break;
        }
        StateHasChanged();
    }

    private string Json;

    private string ErrerMessage;

    private bool isOpen = false;

    void OnDismiss()
    {
        isOpen = !isOpen;
    }

    protected override void OnInitialized()
    {
        Serializer = Config.GetCarDVRSerializer();
    }

    private void Query()
    {
        try
        {
            isOpen = false;
            var data = HexData.ToHexBytes();
            switch (wayType)
            {
                case "up":
                    Json = Serializer.UpAnalyze(data, options: JTJsonWriterOptions.Instance);
                    break;
                case "down":
                    Json = Serializer.DownAnalyze(data, options: JTJsonWriterOptions.Instance);
                    break;
            }
        }
        catch (Exception ex)
        {
            isOpen = !isOpen;
            Json = "";
            ErrerMessage = ex.StackTrace;
        }
    }
}
