@page "/jt809"

@using JT809.Protocol;
@using JT809.Protocol.Extensions;
@using Newtonsoft.Json;
@using JT809.Protocol.Configs;
@using JT809.Protocol.Interfaces;
@using JT809.Protocol.Exceptions;
@using JTTools.Configs;
@using JT809.Protocol.Enums;
@using OneOf;
@using AntDesign;
@inject JT809_2011_Config  Config2011
@inject JT809_2019_Config  Config2019

<Space Direction="DirectionVHType.Vertical" Style="width:100%">
    <SpaceItem>
        <Select @bind-Value="@version" DefaultValue="@("v2011")" TItemValue="string" TItem="string" OnSelectedItemChanged="OnSelectVersion">
            <SelectOptions>
                <SelectOption TItemValue="string" TItem="string" Value="@("v2011")" Label="2011版本" />
                <SelectOption TItemValue="string" TItem="string" Value="@("v2019")" Label="2019版本" />
            </SelectOptions>
        </Select>
    </SpaceItem>
    <SpaceItem>
        <Select TItemValue="string" TItem="string" DefaultValue="@("none")" @bind-Value="@encryptType" OnSelectedItemChanged="OnSelectEncryptType">
            <SelectOptions>
                <SelectOption TItemValue="string" TItem="string" Value="@("none")" Label="未加密" />
                <SelectOption TItemValue="string" TItem="string" Value="@("encrypt")" Label="加密" />
            </SelectOptions>
        </Select>
    </SpaceItem>
    @if (encryptType == "encrypt")
    {
        <SpaceItem>
            <AntDesign.Input @bind-Value="@M1">
                <AddOnBefore>M1</AddOnBefore>
            </AntDesign.Input>
            <AntDesign.Input @bind-Value="@IA1">
                <AddOnBefore>IA1</AddOnBefore>
            </AntDesign.Input>
            <AntDesign.Input @bind-Value="@IC1">
                <AddOnBefore>IC1</AddOnBefore>
            </AntDesign.Input>
        </SpaceItem>
    }
    <SpaceItem>
        <Button Type="@ButtonType.Primary" @onclick="Query">分析</Button>
    </SpaceItem>
</Space>




@if (isOpen)
{
    <Alert Type="@AlertType.Error" Description="@ErrerMessage" Closable AfterClose="OnDismiss" />
}

<div class="right">
    <TextArea AllowClear="true" Rows="4" @bind-Value="@HexData" />
    <pre>
         @Json
    </pre>
</div>

@code {
    private JT809Serializer Serializer2011;
    private JT809Serializer Serializer2019;

    private string HexData2011 = "5B 00 00 00 92 00 00 06 82 94 00 01 33 EF B8 01 00 00 00 00 00 27 0F D4 C1 41 31 32 33 34 35 00 00 00 00 00 00 00 00 00 00 00 00 00 02 94 01 00 00 00 5C 01 00 02 00 00 00 00 5A 01 AC 3F 40 12 3F FA A1 00 00 00 00 5A 01 AC 4D 50 03 73 6D 61 6C 6C 63 68 69 00 00 00 00 00 00 00 00 31 32 33 34 35 36 37 38 39 30 31 00 00 00 00 00 00 00 00 00 31 32 33 34 35 36 40 71 71 2E 63 6F 6D 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 BA D8 5D";

    private string HexData2019 = "5B 00 00 00 C9 00 00 06 82 17 00 01 34 15 F4 01 00 00 00 00 00 27 0F 00 00 00 00 5E 02 A5 07 B8 D4 C1 41 31 32 33 34 35 00 00 00 00 00 00 00 00 00 00 00 00 00 02 17 01 00 00 00 8B 01 02 03 04 05 06 07 08 09 10 11 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 E7 D3 5D";

    private string HexData = "";

    private string Json;

    string encryptType = "none";

    string version = "v2011";

    JT809EncryptOptions EncryptOptions;

    private string ErrerMessage;

    private bool isOpen = false;

    private long M1;
    private long IA1;
    private long IC1;

    void OnDismiss()
    {
        isOpen = !isOpen;
    }

    public void OnSelectVersion(string value)
    {
        this.version = value;
        switch (version)
        {
            case "v2011":
                this.HexData = HexData2011;
                break;
            case "v2019":
                this.HexData = HexData2019;
                break;
        }
        StateHasChanged();
    }

    private void OnSelectEncryptType(string value)
    {
        encryptType = value;
        StateHasChanged();
    }

    protected override void OnInitialized()
    {
        Serializer2011 = Config2011.GetSerializer();
        Serializer2019 = Config2019.GetSerializer();
        EncryptOptions = new JT809EncryptOptions();
        HexData = HexData2011;
        StateHasChanged();
    }

    private void Query()
    {
        try
        {
            isOpen = false;
            var data = HexData.ToHexBytes();
            switch (version)
            {
                case "v2011":
                    if (encryptType == "none")
                    {
                        Json = Serializer2011.Analyze(data, JTJsonWriterOptions.Instance);
                    }
                    else
                    {
                        IJT809Config jt809ConfigInternal = new JT809Config2011(Guid.NewGuid().ToString());
                        SetEncryptOptions();
                        jt809ConfigInternal.EncryptOptions = EncryptOptions;
                        JT809Serializer jT809SerializerInternal = new JT809Serializer(jt809ConfigInternal);
                        Json = jT809SerializerInternal.Analyze(data, JTJsonWriterOptions.Instance);
                    }
                    break;
                case "v2019":
                    if (encryptType == "none")
                    {
                        Json = Serializer2019.Analyze(data, JTJsonWriterOptions.Instance);
                    }
                    else
                    {
                        IJT809Config jt809ConfigInternal = new JT809Config2019(Guid.NewGuid().ToString());
                        SetEncryptOptions();
                        jt809ConfigInternal.EncryptOptions = EncryptOptions;
                        JT809Serializer jT809SerializerInternal = new JT809Serializer(jt809ConfigInternal);
                        Json = jT809SerializerInternal.Analyze(data, JTJsonWriterOptions.Instance);
                    }
                    break;
            }
        }
        catch (JT809Exception ex)
        {
            isOpen = !isOpen;
            Json = "";
            ErrerMessage = ex.Message;
        }
        catch (Exception ex)
        {
            isOpen = !isOpen;
            Json = "";
            ErrerMessage = ex.StackTrace;
        }
    }

    private void SetEncryptOptions()
    {
        EncryptOptions.M1 = (uint)M1;
        EncryptOptions.IA1 = (uint)IA1;
        EncryptOptions.IC1 = (uint)IC1;
    }

    class JT809Config2011 : JT809GlobalConfigBase
    {
        public JT809Config2011(string configId)
        {
            ConfigId = configId;
        }

        public override string ConfigId { get; }
    }

    class JT809Config2019 : JT809GlobalConfigBase
    {
        public JT809Config2019(string configId)
        {
            ConfigId = configId;
            Version = JT809Version.JTT2019;
        }

        public override string ConfigId { get; }
    }
}
